services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: database
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  scylla:
    image: scylladb/scylla:5.4
    command: []
    ports:
      - "9042:9042"
    volumes:
      - scylladata:/var/lib/scylla
  benchmark:
    build:
      context: .
      dockerfile: benchmark.Dockerfile.v2
    volumes:
      - .:/app
    working_dir: /app
    command: tail -f /dev/null

volumes:
  pgdata: {}
  scylladata: {}